<div class="col-md-12 mt-5">
  <div class="cardPost">
    <a href="#"><h5>Title</h5></a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
      assumenda rerum quos vero corporis maxime distinctio laborum, tempora
      perferendis. Fugiat rerum placeat cupiditate repudiandae quasi ratione
      sequi quisquam commodi voluptates? Laborum veniam ex officiis culpa, nemo
      minus repellat quos voluptatibus earum sunt unde odit cum similique nulla,
      doloribus expedita voluptates. Perferendis itaque tempora numquam eos
      minus nulla exercitationem error adipisci. Recusandae itaque enim nihil
      earum iusto aut, aspernatur laboriosam magnam consequatur neque iste cum
      eius aliquid voluptatibus. Debitis ea neque minus suscipit magnam
      consequuntur quod fugit similique. Voluptatum, beatae molestias?
    </p>
  </div>
</div>
