<form
  action="/admin/add"
  method="POST"
  enctype="multipart/form-data"
  class="col-md-6 col-12"
>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      placeholder="Post Title"
    />
  </div>

  <div class="mb-3">
    <label for="short" class="form-label">Short Content</label>
    <textarea
      class="form-control"
      name="short"
      placeholder="Post Shorts"
    ></textarea>
  </div>

  <div class="mb-3">
    <label for="details" class="form-label">Full Content</label>
    <textarea
      class="form-control"
      name="full"
      placeholder="Post Details"
    ></textarea>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Upload Image</label>
    <input class="form-control" type="file" id="fileObject" name="fileObject" />
  </div>

  <div class="mb-3">
    <input type="submit" value="Add Post" />
  </div>
</form>
