<form action="" method="post" class="col-md-6 col-12">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      name="username"
      placeholder="Username"
    />
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
    />
  </div>

  <div class="mb-3">
    <input type="submit" value="Login" />
  </div>
</form>
