<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Navbar</a>
    
    <button
      class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId">

      <ul class="navbar-nav mt-2 mt-lg-0 me-auto">
        <a class="nav-item nav-link" href="/admin">Admin</a>
      </ul>

      <ul class="navbar-nav mt-2 mt-lg-0 ms-auto">
        <a class="nav-item nav-link" href="/admin/add">Add Post</a>
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link" href="/about">About</a>
        <% if (user) { %>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        <% } else { %>
          <a class="nav-item nav-link" href="/login">Login</a>
        <% } %>
      </ul>
    </div>

  </div>
</nav>
