  <%-include('inc/head')%>

    <main>
      <section>
        <div class="container">
          <div
            class="row vh-100 align-content-center align-items-center text-center"
          >
            <h1>404</h1>
            <p><b>Opps! </b>We didn't found anything.</p>
          </div>
        </div>
      </section>
    </main>

    <%-include('inc/Footer')%>
