  <%-include('inc/head')%>

  <main>
    <section>
      <div class="container">
        <div class="row">
          <a class="mb-3" href="add">New Post</a>
          <% blogs.forEach(blog => { %>
          <h5><%=blog.title %></h5>
          <a class="rm" data-rm="<%=blog._id%>"><h5>Delete</h5></a>
          <% }) %>
        </div>
      </div>
    </section>
  </main>

  <script>
      const rm = document.querySelectorAll('a.rm')
      const rmParse = [].slice.call(rm)

    rmParse.forEach(rm => {
      rm.addEventListener('click', function() {
        const endpoint = `/admin/delete/${rm.dataset.rm}`

        fetch(endpoint, {
          method: 'DELETE'
        })

        .then(
          alert('Content removed.'),
          location.reload()
        )
        .catch((err) => {
          console.log(err)
        })
      })
    });

  </script>

  <%-include('inc/Footer')%>
