  <%-include('inc/head')%>

    <main>
      <section>
        <div class="container">
          <div class="row"><%-include('inc/Card')%></div>
        </div>
      </section>
    </main>

  <%-include('inc/Footer')%>

