   <%-include('inc/head')%>

    <main>
      <section>
        <div class="container">
          <div class="row mx-auto justify-content-center">
            <%-include('inc/Login')%>
          </div>
        </div>
      </section>
    </main>

  <%-include('inc/Footer')%>
